{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor='red'>
    <h1>TO-DO APP</h1>
    <p>
        <a href="load_form">Add_new</a><br>
        <a href="show">Show_all</a><br>
        <!--<a href="register">Register</a><br>
        <a href="Gro">Group_List</a><br>-->
        <a href='details'>Register</a><br>
        <a href="regi">Show</a><br>
    </p>
</body>
</html>
{%endblock%}